# --- API Keys ---
# Groq
GROQ_API_KEY=sua_chave_aqui

# Google Gemini (Vertex / AI Studio)
GEMINI_API_KEY=sua_chave_aqui

# Tavily Web Search (Obrigatório para Tools)
TAVILY_API_KEY=sua_chave_aqui

# --- Outros ---
# Google Cloud TTS credentials (Caminho para o JSON)
GOOGLE_APPLICATION_CREDENTIALS=src/config/service_account.json

# --- Azure TTS (Opcional - Legado) ---
AZURE_SPEECH_KEY=sua_chave_aqui
AZURE_REGION=brazilsouth
